.screenshot-guide{
    background: #B300F41A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: #fff;
    padding: 9px 15px;
    font: 600 12px 'Manrope';
}