@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.math-help-ai-app-container {
  margin: 0;
  width: 300px;
  height: 330px;
   border-radius: 20px;
  background-color: #410058;
  padding: 20px;
  box-shadow: none;
  box-sizing: border-box;
}
/* 
.app-container *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.math-help-ai-selection-box {
  position: absolute;
  border: 3px solid #B300F4;
  z-index: 9999;
  cursor: crosshair;
  display: none;
  background: transparent;
  border-radius: 3px;
}

.math-help-ai-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* затемнение экрана */
  z-index: 9997;
  display: none;
  cursor: crosshair;
}


.math-help-ai-hints-box{
  display: flex;
  gap: 10px;
  z-index: 9998;
  font: 500 12px 'Manrope';
  color: white;
  
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.math-help-ai-hint{
  background-color:#410058;
  font: 500 12px 'Manrope';
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.math-help-ai-hint span{
  font-weight: 800;
  color: #B300F4;
}

.math-help-ai-result-loading__box{
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #410058;
  border: 1px solid #B300F488;
  color: white;
  width: 300px;
  height: 45px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  animation: 2s loading_anim infinite ;
  font-size: 16px;
}

.math-help-ai-result-display__box{
  padding: 20px;
  padding-bottom: 0;

  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);

  z-index: 9999;
  border-radius: 20px;
  background-color: #410058;
  width: 300px;
  height: 375px;
  color: white;
}

.math-help-ai-result-display__box__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.math-help-ai-result-display__header__button{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #B300F41A;
  box-shadow: none;
  border: 1px solid #B300F41A;
  box-sizing: border-box;
  font-weight: 700;
}

.math-help-ai-result-display__header__button:hover{
  border: 1px solid #B300F4
}

.math-help-ai-result-display__response{
  overflow-y: auto;
  height: 238px;
  padding: 10px;
  color: white;
  margin-bottom: 9px;
  font: 500 16px 'Manrope';
  border: 0.5px solid #b300f47f;
  scrollbar-width: none;
}

.math-help-ai-result-display__response::-webkit-scrollbar {
  display: none; 
}

.math-help-ai-result-display__footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.math-help-ai-result-display__footer button{
  width: 130px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-wrap: nowrap;
}

.math-help-ai-result-display__footer button:hover{
  border: 1px solid #bb0ffa
}

.math-help-ai-result-display__footer__screnshot_btn{
  background-color: #B300F4;
  box-sizing: border-box;
  border: 1px solid #B300F4;
  width: 127px;

}

.math-help-ai-result-display__footer__try-again_btn{
  background-color: #410058;
  box-sizing: border-box;
  border: 1px solid #B300F433
}



@keyframes loading_anim {
  0% {
    color: white;
  }
  50% {
    color: #B300F499;
  }
  100% {
    color: white;
  }
}